*{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

body {
    background-color:white ;
    margin: 0px;
}

header a {
  font-size: 13px;
  color: #1f1f1f;
}

header ul {
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-right: 3px;
}

figure {
  width: 25px;
  margin: 0px;
  padding: 10px;
}

#cuadro {
  width: 20px;
}

#perfil {
  width: 32px;
  border-radius: 50%;
}

ul li {
  display: inline-block;
  padding: 15px;
}

ul {
  padding: 0px;
  margin: 0px;
}

nav {
  display: flex;
  justify-content: end;
}

main {
  display: flex;
  justify-content: center;
  height: 82vh;
}

#logo {
  margin-top: 21vh;
  height: 92px;
}

#buscador {
  display: flex;
  border: 1px solid #dadce0; 
  align-items: stretch;
  height: 46px;
  width: 583px;
  border-radius: 25px;
  margin: 20px 0px;
}

#buscador:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

article {
  text-align: center;
}

#buscador input{
  flex-grow: 1;
  border: none;
  outline: none;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;

  padding: 0 16px;
  margin: 11px 4px;
  height: 36px;

  font-size: 14px;  
  border-radius: 4px;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

footer {
  background: #f2f2f2;
}

footer div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer p {
  padding: 15px;
  margin: 0px;
  border-bottom: 1px solid #dadce0; 
}

footer a{
  font-size: 14px;
  color: #202124;
}